
body{
    position: relative;
    height: 100vh;
}

#body{
    background-image: url("https://fortunedotcom.files.wordpress.com/2018/06/gettyimages-971755028.jpg");
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
}

#welcome-msg{
    position: relative;
    top: 15%;
    margin-left: 5%;
}

#mobile-content{
    margin-top: 2px;
    min-height: 100hmin;
}

footer{
    position: absolute;
    bottom: 0;
    width:100%;
}

/* If phone */
@media (max-width: 600px) {
    #body {
      background-image: none;
      clear: both
    }

    #welcome-msg{
        top: 2%;
    }
    #welcome-msg *{
        top: 2%;
        color: black;
    }

    footer{
        position: relative;
    }

    .small-left{
        text-align: left;
    }

    .med-large-right{
        text-align: right;
    }

  }